/*---------------
  MEDIA QUERIES
---------------*/
@mixin phone-wide {
  @media (min-width: $phone-wide) and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-wide {
  @media (min-width: $tablet-wide) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-wide {
  @media (min-width: $desktop-wide) {
    @content;
  }
}

@mixin nav-toggle-line {
  width: em(24);
  height: 2px;
  margin: em(7) 0 0;
  background-color: #fff;
  border-radius: em(2);
}

@mixin home-heading($size) {
  margin: 0;
  font-family: $Josefin-Sans;
  font-size: $size;
  font-weight: 400;
  color: $boulder;
}

@mixin modal($color) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  width: 86%;
  min-width: 310px;
  max-width: 390px;
  background-color: $color;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
  z-index: 60;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}