@mixin nav-toggle-line {
  width: em(24);
  height: 2px;
  margin: em(7) 0 0;
  background-color: #fff;
  border-radius: em(2);
}

@mixin home-heading($size) {
  margin: 0;
  font-family: $Josefin-Sans;
  font-size: $size;
  font-weight: 400;
  color: $dove-grey;
}