.section-heading {

  &--center {
    text-align: center;
  }

  &__text {
    @include home-heading(em(28));
    color: $boulder;
  }

  &__line {
    width: em(103);
    height: 2px;
    background-color: $nile-blue;

    &--right {
      margin-left: em(16);
    }

    &--center {
      width: em(40);
      margin: 0 auto;
    }
  }

  @include desktop {
    &__line {
      height: 3px;
    }
  }

}
