.section-heading {

  &__text {
    @include home-heading(em(28));
    color: $boulder;
  }

  &__line {
    width: em(103);
    height: em(2);
    background-color: $nile-blue;

    &--right {
      margin-left: em(16);
    }
  }

}
