.home-tools {
  padding: em(30) 0;

  &__icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: em(258);
    margin: em(15) auto;

    @include tablet {
      flex-wrap: nowrap;
      width: em(450);
      margin-top: em(38);
    }
  }

}