.page-footer {
  padding: 2.2em 1.5em 1.4em;
  color: $alto;
  background-color: $mine-shaft;
  text-align: center;
  border-top: 1px solid $boulder;
  
  &__text {
    font-size: em(12);
    margin: 0 0 em(22);
  }

  &__icon {
    display: inline-block;
    margin: 0 em(16);
    padding: em(10);
  }

  @include desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 2.5em;

    &__text {
      margin: 0;
    }

    &__icon {
      padding: 0;
    }
  }
}