.page-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: em(10) em(20);
  background-color: $nile-blue;
}

.header-logo {
  width: 3.1em;
  height: 2.25em;
  border: 3px solid #fff;
  text-align: center;
}

.header-logo__text {
  color: #fff;
  font-size: 1.6em;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 1.25em;
  margin-left: 0.12em;
}

.mobile-nav-toggle {
  align-self: center;
  cursor: pointer;
}

.mobile-nav-toggle__line {
  @include nav-toggle-line;
  &:nth-of-type(1) {
    margin: 0;
  }
}

.page-header-nav {
  display: none;
}

.page-header-nav-mobile {
  display: none;
}