.page-header {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  height: em($header-height);
  padding: 0 em(8) 0 em(20);
  background-color: $nile-blue;
  z-index: 40;

  @include desktop {
    font-size: 22px;
    padding-left: 12%;
    padding-right: 7%;
  }

  @include desktop-wide {
    font-size: 24px;
  }
}
