.header-logo {
  padding: em(6) 0;
  
  &__inner {
    width: 3.1em;
    height: 2.25em;
    border: 3px solid #fff;
    text-align: center;
    cursor: pointer;
  }

  &__text {
    color: #fff;
    font-size: 1.6em;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 1.25em;
    margin-left: 0.12em;
  }
}