.page-header-nav {
  display: none;

  @include desktop {
    display: block;
    z-index: 1;
    color: #fff;
    font-size: em(16);
    font-family: $Josefin-Sans;

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: em(350);
      height: 100%;
      margin: 0;
      padding: 0 em(70) 0 0;
    }

    &__list-item {
      transition: color 0.2s ease;
      cursor: pointer;

      &:hover {
        color: #e2e2e2;
      }
    }
  }
}