.home-skill-icon {
  &__js {
    width: em(108);
    display: block;
    margin: em(45) auto em(15);
  }

  &__redux {
    width: em(36);
    height: em(32);
    margin-left: em(-2);
  }

  &__react {
    width: em(38);
    height: em(34);
    margin-left: em(-12);
  }
  
  &__es6 {
    margin-left: em(-3);
  }

  &__webpack {
    width: em(30);
    height: em(34);
    margin-right: em(-7);
  }

  &__gulp {
    right: -65px;
    top: 136px;
    width: 37px;
    height: 80px;
  }

  &__css3 {
    display: block;
    width: em(90);
    height: em(137);
    margin: em(35) auto 0;
  }

  &__sass {
    margin-left: em(54);
  }

  &__less {
    margin-right: em(44);
  }

  &__html5 {
    display: block;
    width: em(97);
    height: em(139);
    margin: em(35) auto 0;
  }

  &__pug {
    display: block;
    margin: em(2) auto;
  }

  &__skill-lines {
    display: block;
    margin: 0 auto;
  }

  @include desktop {
    position: absolute;
    margin: 0;

    &__js {
      top: 2.15em;
      right: 3.7375em;
      width: 6.675em;
    }

    &__redux {
      top: 2.15em;
      right: 14.3em;
    }
  
    &__react {
      top: -2.8em;
      right: 12.5em;
      width: 3.6em;
      height: 3.2em;
    }
    
    &__es6 {
      top: -2.2em;
      right: -1.8em;
      width: 2em;
      height: 2.8em;
    }
  
    &__webpack {
      bottom: 146px;
      right: -49px;
      width: 3.2em;
      height: 3.2em;
    }

    &__jest {
      bottom: 1.6em;
      right: 2.5em;
      width: 2.2em;
      height: 2.2em;
    }

    &__enzyme {
      bottom: -1em;
      right: 2.9em;
      width: 2.2em;
      height: 2.2em;
    }

    &__rtl {
      bottom: 0em;
      right: 0.5em;
      width: 2.2em;
      height: 2.2em;
    }

    &__jquery {
      top: -2.4em;
      right: -2.2em;
      width: 2.5em;
      height: 2.5em;
    }

    &__css3 {
      top: -3em;
      left: 2.5em;
      width: 5.5em;
      height: 8.4em;
    }
    
    &__sass {
      top: -0.5em;
      left: 12.9em;
      width: 3.8em;
      height: 2.8em;
    }
    
    &__less {
      top: 7.6em;
      left: -2.5em;
    }
    
    &__html5 {
      bottom: 2.6em;
      left: 14.4em;
      width: 5.9em;
      height: 9em;
    }

    &__pug {
      left: 14.4em;
      bottom: -2.9em;
    }
    
  }
}

.home-tool-icon {
  margin-top: em(35);

  @include tablet {
    margin: 0;
  }

  &__git {
    width: em(62);
    height: em(61);

    @include desktop {
      transform: translateY(73px);
    }
  }

  &__vs-code {
    width: em(58.3);
    height: em(62);

    @include desktop {
      transform: translateY(50px);
    }
  }

  &__jenkins {
    @include desktop {
      transform: translateY(30px);
    }
  }
  
  &__sketch {
    @include desktop {
      transform: translateY(-18px);
    }
  }

  &__npm {
    margin-left: em(30);

    @include tablet {
      margin: 0;
    }

    @include desktop {
      transform: translateY(-37px);
    }
  }

  &__yarn {
    width: 4.546em;
    margin: 0 -5px 0 -10px;

    @include desktop {
      transform: translateY(-59px);
    }
  }
}
  
.home-contact-icon {
  cursor: pointer;
  margin: 0;
  
  &__mail {
    margin: 0 em(13);
  }

  &__github {
    fill: #D9D9D9;
  }
  
  &__linkedin {
    fill: #D9D9D9;
  }

  &__mail {
    margin: 0;
  }
}

.home-icon {
  &__close {
    width: $close-icon-width
  }
  
  &__close-line {
    stroke: $dove-grey;
  }

  @include tablet-wide {
    &__close-line {
      stroke: #fff;
    }
  }
}