.home-icon {
  &__js {
    width: em(108);
    display: block;
    margin: em(45) auto em(15);
  }

  &__redux {
    width: em(36);
    height: em(32);
    margin-left: em(-2);
  }

  &__react {
    width: em(38);
    height: em(34);
    margin-left: em(-12);
  }
  
  &__es6 {
    margin-left: em(-3);
  }

  &__node {
    width: em(30);
    height: em(34);
    margin-right: em(-7);
  }

  &__css3 {
    display: block;
    width: em(90);
    height: em(137);
    margin: em(35) auto 0;
  }

  &__sass {
    margin-left: em(54);
  }

  &__bem {
    margin-right: em(54);
  }

  &__html5 {
    display: block;
    width: em(97);
    height: em(139);
    margin: em(35) auto 0;
  }

  &__pug {
    display: block;
    margin: em(2) auto;
  }

  &__skill-lines {
    display: block;
    margin: 0 auto;
  }

  &__tool {
    margin-top: em(35);
  }

  &__git {
    width: em(62);
    height: em(61);
  }

  &__vs-code {
    width: em(58.3);
    height: em(62);
  }

  &__npm {
    margin-left: em(30);
  }

  &__gulp {
    margin-top: em(25);
    margin-right: em(47);
  }

  &__contact {
    margin: 0 em(13);
    cursor: pointer;
  }
}