@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Montserrat:400,500|Pacifico');

$Montserrat: 'Montserrat', sans-serif;
$Josefin-Sans: 'Josefin Sans', sans-serif;
$Pacifico: 'Pacifico', cursive;

$browser-context: 16;