.contact-modal {
  @include modal(#fff);
  max-width: 700px;
  height: 515px;

  &.show {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  
  &__heading {
    text-align: center;
    font-family: $Montserrat;
    font-weight: 400;
  }
}
