footer.page-footer
  p.page-footer__text Copyright © 2018 Andrew Jensen-Battaglia • Front-End Developer
  .page-footer__icons
    include ../../svg/contact-icons/github.svg
    include ../../svg/contact-icons/linkedin.svg