footer.page-footer
  p.page-footer__text Copyright © 2018 Andrew Jensen-Battaglia • Front-End Developer
  .page-footer__icons
    a(class="page-footer__icon", href="#")
      include ../../svg/contact-icons/github.svg
    a(class="page-footer__icon", href="#")
      include ../../svg/contact-icons/linkedin.svg