.home-banner {
  position: relative;
  background: linear-gradient($marzipan, $porsche);

  @include tablet-wide {
    &:after {
      content: "";
      position: absolute;
      bottom: -7vw;
      height: 14.90vw;
      width: 100%;
      transform: skewY(-8deg);
      transform-origin: 50% 0;
      outline: 1px solid transparent;
      backface-visibility: hidden;
      background-color: white;
      z-index: 4;
    }
  }
  
  @include desktop {
    font-size: 23px;
  }
}

.home-banner__headshot {
  width: em(190);
  position: fixed;
  left: 20%;
  top: em(225);

  &.hide {
    visibility: hidden;
  }
  
  @include tablet-wide {
    width: em(360);
    left: unset;
    right: 6%;
    top: em(125);
  }

  @include desktop {
    bottom: unset;
    top: em(165);
  }

  @include desktop-wide {
    position: fixed;
    top: unset;
    width: em(440);
    bottom: 12.8vw;
    margin-bottom: -82px;
  }
}

@import 'home-banner-text';
