.home-skill-group-mobile {

  @media (min-width: 550px) {
    font-size: 22px;
  }

  @include tablet {
    font-size: 24px;
  }

  @include tablet-wide {
    font-size: 26px;
  }
  
  &__icons {
    display: flex;
    justify-content: space-between;
    width: em(275);
    height: em(38);
    margin: em(10) auto 0;
  }
}