doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="main.css")
    title Andrew Jensen-Battaglia
    
  body
    include helpers/mixins.jade
    include header/header.jade
    include main/main.jade
    include footer/footer.jade
    include modules/_overlay.jade
    include modules/_about-modal.jade
    include modules/_contact-modal.jade

