.home-project {
  margin: em(40) 0;
  max-width: em(500);

  &__name {
    @include home-heading(em(20));
  }

  &__desc {
    margin-top: em(10);
    font-family: $Montserrat;
    font-size: em(11);
    color: $boulder;
    letter-spacing: em(0.5);
  }

  &__image {
    max-width: 100%;
    border: 1px solid $alto;
  }
  
  &__vg-image {
    max-width: 500px;
    background-color: $mine-shaft;
    color: #fff;
  }

  &__vg-image-text {
    margin: 0;
    padding: 25.5% 0;
    text-align: center;
    font-family: $Pacifico;
    font-size: 29px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
