.home-project {
  margin: em(40) 0;

  &__name {
    @include home-heading(em(20));
  }

  &__desc {
    margin-top: em(10);
    font-family: $Montserrat;
    font-size: em(11);
    color: $boulder;
    letter-spacing: em(0.5);
  }

  &__image {
    width: 100%;
    background-color: #cecece;
  }
}
