.home-project {
  margin: em(40) 0;

  &__name {
    @include home-heading(em(20));
  }

  &__name-underline {
    width: 2px;
    height: 2px;
    margin-left: 38px; 
    background-color: $nile-blue;
    visibility: hidden;
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &__desc {
    margin-top: em(10);
    font-family: $Montserrat;
    font-size: em(13);
    color: $boulder;
    letter-spacing: em(0.5);
  }

  &__image {
    max-width: 100%;
    border: 1px solid $alto;
    transition: transform 0.3s ease-out;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @include desktop {
    font-size: 20px;
    margin: em(50) 0;

    &:hover {
      .home-project {
        &__image {
          transform: scale(1.025);    
        }
        &__name-underline {
          visibility: visible;
          transform-origin: left;
        }
      }
    }
    
    &.home-project__cloudcheckr:hover {
      .home-project__name-underline {
        transform: scaleX(106);
      }
    }
    &.home-project__chime:hover {
      .home-project__name-underline {
        transform: scaleX(80);
      }
    }
    &.home-project__docs-portal:hover {
      .home-project__name-underline {
        transform: scaleX(68);
      }
    }
    &.home-project__sasb-navigator:hover {
      .home-project__name-underline {
        transform: scaleX(96);
      }
    }
    &.home-project__better-reads:hover {
      .home-project__name-underline {
        transform: scaleX(76);
      }
    }
    &.home-project__commutecast:hover {
      .home-project__name-underline {
        transform: scaleX(82);
      }
    }

    &__name {
      padding-left: em(15);
    }

    &:nth-of-type(odd) {
      .home-project__anchor {
        flex-direction: row-reverse;
      }
    }

    &__anchor {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      max-width: 45%;
    }

    &__image {
      max-width: 45%;
    }
  }

  @include desktop-wide {
    &__text {
      max-width: 41%;
    }

    &__name {
      font-size: 1.65em;
    }

    &__name-underline {
      height: 3px;
      margin-left: 50px;
    }

    &__image {
      max-width: 500px;
    }

    &.home-project__cloudcheckr:hover {
      .home-project__name-underline {
        transform: scaleX(140);
      }
    }
    &.home-project__chime:hover {
      .home-project__name-underline {
        transform: scaleX(108);
      }
    }
    &.home-project__docs-portal:hover {
      .home-project__name-underline {
        transform: scaleX(90);
      }
    }
    &.home-project__sasb-navigator:hover {
      .home-project__name-underline {
        transform: scaleX(128);
      }
    }
    &.home-project__better-reads:hover {
      .home-project__name-underline {
        transform: scaleX(102);
      }
    }
    &.home-project__commutecast:hover {
      .home-project__name-underline {
        transform: scaleX(110);
      }
    }
  }
}
