nav.page-header-nav
  +header-nav-links(
    'page-header-nav__list',
    'page-header-nav__list-item',
    'page-header-nav__link')

nav.page-header-nav-mobile
  +header-nav-links(
    'page-header-nav-mobile__list', 
    'page-header-nav-mobile__list-item',
    'page-header-nav-mobile__link')
