header.page-header
  .header-logo
    a.header-logo__text(href="#") AJ
  .mobile-nav-toggle
    .mobile-nav-toggle__line
    .mobile-nav-toggle__line
    .mobile-nav-toggle__line
  
  include _nav.jade
