header.page-header#page-header
  .header-logo
    .header-logo__inner
      a.header-logo__text(href="#") AJ
  .mobile-nav-toggle-wrapper#mobile-nav-toggle-wrapper
    .mobile-nav-toggle-box
      .mobile-nav-toggle
  
  include _nav.jade
