.projects-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    padding-left: 20px;
  }

  &__header {
    font-size: 3em;
    font-weight: normal;
    margin: -35px auto 80px;
    color: #3A3A3A;

    @include tablet {
      width: 190px;
      margin: -90px auto 110px;
    }
  }

  &__group {
    margin-bottom: 90px;
  }

  section:last-of-type {
    margin-bottom: 0;
  }

  &__group-header {
    + .section-heading__line {
      width: 5.5em;
    }
  }

  .project {
    margin: 40px 0 60px;
    &__header {
      @include home-heading(em(25));
    }

    &__image {
      width: 100%;
      margin: 20px 0;
      border: 1px solid $alto;
    }

    &__image-mobile {
      display: block;
      width: 75%;
      margin: 33px auto;
      border: 1px solid $alto;
    }
    
    &__content {
      font-size: 13px;
      letter-spacing: .03125em;
      @include tablet {
        letter-spacing: .02em;
        font-size: .8125em;
      }
    }

    &__demo-link {
      font-weight: bold;
      text-decoration: underline;
      color: $nile-blue;
    }

    &__link-icon {
      width: 1em;
      margin: 2px 8px 0 0;
      fill: $nile-blue;
    }
  }
}