.projects-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    padding-left: 20px;
  }

  @include tablet {
    max-width: 96%;
  }

  @include desktop {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 40px;
  }

  @include desktop-wide {
    padding: 0 60px;
  }

  &__header {
    font-size: 3em;
    font-weight: normal;
    margin: -35px auto 80px;
    color: #3A3A3A;

    @include tablet {
      width: 190px;
      margin: -90px auto 180px;
    }

    @include tablet-wide {
      margin-bottom: 280px;
    }
  }

  &__group {
    margin-bottom: 220px;
  }

  section:last-of-type {
    margin-bottom: 150px;
  }

  &__group-header {
    @include desktop {
      font-size: 2.15em;
    }
    
    + .section-heading__line {
      width: 5.5em;
      margin-bottom: 50px;
      
      @include tablet {
        margin-bottom: 100px;
      }
    }
  }

  .divider-rule {
    width: 65%;
    height: 2px;
    margin: 200px auto;
    background: linear-gradient(0.25turn, #fff, $nile-blue, #fff);
    border: none;
    opacity: 0.5;
  }

  .project {
    margin: 0 0 60px;

    div:last-of-type {
      margin-bottom: 0;
    }

    &__header {
      @include home-heading(em(25));
    }

    &__feature {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include tablet-wide {
        margin-bottom: 200px;
      }

      @include desktop {
        flex-direction: row;
      }
    }

    &__feature--spaced {
      justify-content: space-between;
    }

    &__feature--overflow {
      @include tablet-wide {
        flex-direction: row;
        width: 105%;
      }

      @include desktop-wide {
        width: 106%;
      }

      @include desktop-wide-l {
        width: 114%;
      }

      @include desktop-wide-xl {
        min-height: 600px;
        margin-bottom: 330px;
      }
    }

    &__feature--column {
      margin: 0 auto 80px;
      @include desktop {
        display: flex;
        justify-content: center;
        margin-bottom: 220px;
      }

      .project__copy {
        @include desktop {
          width: 23%;
          margin: 90px 40px 0 0;
          text-align: right;
        }
      }

      .project__image {
        @include desktop {
          width: 73%;
          margin-bottom: auto;
        }
      }
    }

    &__feature--reverse {
      @include desktop {
        flex-direction: row-reverse;
      }

      .project__copy {
        @include desktop {
          margin: 90px 0 0 40px;
          text-align: left;
        }
      }
    }

    &__feature--mobile {
      @include desktop {
        justify-content: space-evenly;

        .project__copy {
          @include desktop {
            width: 28%;
            margin: 12% 0 0;
            text-align: left;
          }
        }

        .project__image {
          @include desktop {
            width: 21%;
          }

          @include desktop-wide-m {
            width: 27%;
          }
        }
      }
    }

    &__image {
      width: 100%;
      margin: 20px 0;
      border: 1px solid $alto;

      @include tablet-wide {
        width: 100%;
        max-width: none;
        border: none;
        box-shadow: 0 0 18px -4px #80808085;
      }
    }

    &__image--spaced {
      @include desktop {
        width: 60%;
      }
    }

    &__image-macbook-wrapper {
      position: relative;
      font-size: 20px;

      @include desktop {
        font-size: 22.5px;
      }

      @include desktop-wide {
        font-size: 30px;
      }

      @include desktop-wide-xl {
        position: absolute;
        right: 0;
        overflow: hidden;
      }
    }
    
    &__image-macbook {
      display: none;

      @include tablet-wide {
        display: block;
        height: 20em;
      }

      @include desktop-wide {
        height: 600px;
      }

      @include desktop-wide-l {
        height: 700px;
      }
    }
    
    &__image-cc-welcome {
      display: none;
      position: absolute;
      
      @include tablet-wide {
        display: block;
        height: 16em;
        right: -7.05em;
        bottom: 1.45em;
      }
      
      @include desktop {
        position: absolute;
      }

      @include desktop-wide-l {
        height: 18.65em;
        right: -8.15em;
        bottom: 1.7em;
      }
    }

    &__image-mobile {
      display: block;
      width: 55%;
      margin: 33px auto;
      border: 1px solid $alto;

      @include tablet-wide {
        width: 35%;
        border: none;
      }

      @include desktop {
        width: 28%;
        max-width: 360px;
        margin: 20px 0;
      }
    }

    &__intro-copy {
      @include tablet-wide {
        margin-top: 20px;
      }
      @include desktop {
        margin-top: 90px;
      }
      @include desktop-wide {
        margin-top: 120px;
      }

      .project__copy {
        @include desktop {
          max-width: 600px;
        }

        @include desktop-wide-l {
          max-width: 700px;
        }
      }
    }

    &__intro-copy--spaced {
      @include desktop {
        width: 35%;
      }
    }

    &__image-chime-wrapper {
      @include desktop {
        position: relative;
      }

      .project__image {
        @include desktop {
          width: 520px;
        }

        @include desktop-wide {
          width: 560px;
        }

        @include desktop-wide-m {
          width: 650px;
        }

        @include desktop-wide-l {
          width: 780px;
        }
      }
    }
    
    &__copy {
      font-size: 13px;
      letter-spacing: .03125em;
      @include tablet {
        letter-spacing: .02em;
        font-size: .8125em;
      }
    }

    &__demo-link {
      font-weight: bold;
      text-decoration: underline;
      color: $nile-blue;
      @include tablet {
        display: inline-block;
        margin-top: 25px;
      }
    }

    &__link-icon {
      width: 1em;
      margin: 2px 0 0 8px;
      fill: $nile-blue;
    }
  }
}