.projects-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    padding-left: 20px;
  }

  &__header {
    font-size: 3em;
    font-weight: normal;
    margin: -35px auto 80px;
    color: #3A3A3A;

    @include tablet {
      width: 190px;
      margin: -90px auto 110px;
    }
  }

  &__group {}

  &__group-header {
    + .section-heading__line {
      width: 5.5em;
    }
  }

  .project {
    margin: 40px 0 60px;
    &__header {
      @include home-heading(em(25));
    }

    &__image {
      margin: 20px 0;
    }
    
    &__content {
      font-size: 13px;
      letter-spacing: .03125em;
      @include tablet {
        letter-spacing: .02em;
        font-size: .8125em;
      }
    }
  }
}